

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <div class="row">
    <div class="col-lg-4">
      <%= image_tag "PFTC.JPG", :class => 'img-reponsive pull-left', :width => '500' %>
    </div>
    <div class="col-lg-7 pull-right">
      <p class="text-left">
        <span class="pink">Paddle for the Cure</span> is a special support organization for breast cancer survivors.  We offer a
        unique survivorship program that uses recreational dragon boat paddling to manage treatment side effects for
        breast cancer survivors and promotes a positive and healthy lifestyle.
      </p>
      <p class="text-left">
        Organized by survivors ourselves, we paddle our way to recovery with each other and a tremendous group of
        supporters and paddling enthusiasts along our side. Our on-water season is May through October.  Off-season
        indoor practices are available November through April.  We plan to practice weekly in the World’s Fair
        Marina and participate in Dragon Boat races along the East Coast.
      </p>
      <p class="text-left">
        Our team events are open to all and they promote a healthy lifestyle, a way of getting life and movement back
        through emotional support, team spirit and exercise.
      </p>
      <p class="text-left">
        Donations and tickets at our fundraisers and events are 100% tax deductible as we are a 501 (c) Non-profit organization .
      </p>
      <br />
      <!-- Paypal donate button -->
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_donations">
      <input type="hidden" name="business" value="wepaddleforthecure@gmail.com">
      <input type="hidden" name="lc" value="US">
      <input type="hidden" name="item_name" value="Paddle For The Cure">
      <input type="hidden" name="no_note" value="0">
      <input type="hidden" name="currency_code" value="USD">
      <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>

      <%#= link_to "Donate", asset_path('Donation Page.pdf'), :class => "btn btn-lg btn-primary" %>
      <p class="text-left">
        <em>Your generous tax-deductible contribution will help our team support our mission.  Thank you.</em>
      </p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">

      <div class="col-md-7">
        <h2 class="featurette-heading">Paddle for the Cure Video</h2>
        <p class="text-left">We are winning against cancer- never give up, never give in. We leverage fear to move
          forward and make a difference. We learned we have more confidence, capability and charisma we never knew. <br /><br />
We overcame a great deal of obstacles and called it freedom. As long as we are together, we may be bruised but we will
          NEVER BE BEATEN!
        </p>
      </div>
      <div class="col-md-5">
        <iframe width="420" height="315" src="//www.youtube.com/embed/iQbjAmePF1w" frameborder="0" allowfullscreen></iframe>
      </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <%= link_to image_tag("bowling.jpg", :class => 'img-reponsive pull-left', :width => '420'), 'https://www.facebook.com/Paddle4theCure' %><%=  %>
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Bowl for the Cure</h2>
      <p class="text-left">
        August 26th from 4:30 to 7:00 PM  <br />
        Bowlmor Lanes at 222 West 44th Street, New York, NY 10036<br /><br />
        $60 per person – includes two (2) hours of bowling, shoes, refreshments and t-shirt.<br />
        20% of each registration will be donated to Susan G. Komen Greater NYC.<br />
        RSVP by August 8th, 2014 to info@wepaddleforthecure.org<br /><br />
        Raffle tickets are $10 each or five tickets for $40 if purchased in advance.<br />
        Form a team or come alone and make new friends – there will be 12 people per lane.<br /><br />
        For more information, check out our <%= link_to 'flyer', asset_path('Bowl for the Cure Flyer 2014.pdf') %>!
      </p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">We're on Facebook!</h2>
        <p class="lead">Check out our Paddle For the Cure Facebook Page for team updates
        </p>
      </div>
      <div class="col-md-5">
        <%= link_to image_tag("fb_icon_325x325.png", :class => 'img-reponsive pull-left', :width => '100'), 'https://www.facebook.com/Paddle4theCure' %><%=  %>
      </div>
  </div>

</div><!-- /.container -->



