<!-- Carousel
 ================================================== -->
 <div id="myCarousel" class="carousel slide">
   <!-- Indicators -->
   <ol class="carousel-indicators">
     <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
     <li data-target="#myCarousel" data-slide-to="1"></li>
     <li data-target="#myCarousel" data-slide-to="2"></li>
   </ol>
   <div class="carousel-inner">
     <div class="item active">
       <%= image_tag "leading_the_pack.jpg" %>
       <div class="container">
         <div class="carousel-caption">
           <h1>Puff Puff Dragon Boat Club</h1>
           <p>Proudly based in NYC and dedicated to hard work and teamwork.</p>
           <p><%= link_to "Read our Mission Statement", about_path+"#our-mission-statement", :class => "btn btn-large btn-primary" %></p>
         </div>
       </div>
     </div>
     <div class="item">
       <%= image_tag "ithaca.jpg" %>
       <div class="container">
         <div class="carousel-caption">
           <h1>Work hard, play hard</h1>
           <p>We train hard on and off the water all year long</p>
           <p><%= link_to "Training Schedule", training_path, :class => "btn btn-large btn-primary" %></p>
         </div>
       </div>
     </div>
     <div class="item">
       <%= image_tag "flushing.jpg" %>
       <div class="container">
         <div class="carousel-caption">
           <h1>Ready to jump in?</h1>
           <p>We're always looking for new members</p>
           <p><%= link_to "Join Us!", join_path, :class => "btn btn-large btn-primary" %></p>
         </div>
       </div>
     </div>
   </div>
   <a class="left carousel-control" href="#myCarousel" data-slide="prev">
     <span class="glyphicon glyphicon-chevron-left"></span>
   </a>
   <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right white"></span></a>
 </div><!-- /.carousel -->


<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">2013 Indoor ERG Regatta Champions</h2>
    <p class="lead">The Puff Puff Dragons took home an astounding 20 Medals from this past ERDBA Indoor ERG Regatta
      in Chinatown, NYC.  Paddlers competed individually in 250M and 500M events, as well as in a team of four for
      500M Men’s and Mixed events. This year, there was some fierce competition amongst other clubs including PDBA, Catch-22,
      MAD, Wall Street Dragons, Living Root, and UEAA.</p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-responsive" src="<%= asset_path('indoor_erg.jpg')%>" >
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-5">
    <iframe width="400" height="315" src="//www.youtube.com/embed/KtqPRp2q6PE" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-md-7">
    <h2 class="featurette-heading">2012 Puff Puff Video</h2>
    <p class="lead">Here's a recap of our 2012 Season. We went to a record five races this year, not including the Indoor ERG Regatta. What a blast!
    </p>
  </div>
</div>

 <!-- Marketing messaging and featurettes
 ================================================== -->
 <!-- Wrap the rest of the page in another container to center all the content. -->

 <div class="container marketing">


   <% if false %>
   <!-- Three columns of text below the carousel -->
   <div class="row">
     <div class="col-lg-4">

       <h2>Heading</h2>
       <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
       <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
     </div><!-- /.col-lg-4 -->
     <div class="col-lg-4">
       <img class="img-circle" src="data:image/png;base64," data-src="holder.js/140x140" alt="Generic placeholder image">
       <h2>Heading</h2>
       <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
       <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
     </div><!-- /.col-lg-4 -->
     <div class="col-lg-4">
       <img class="img-circle" src="data:image/png;base64," data-src="holder.js/140x140" alt="Generic placeholder image">
       <h2>Heading</h2>
       <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
       <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
     </div><!-- /.col-lg-4 -->
   </div><!-- /.row -->

       <% end %>

 </div><!-- /.container -->
